name: CI/CD for invoicer-api.wayand.dk

on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

jobs:
    test:
        name: Run Unit tests
        runs-on: ubuntu-latest
        services:
          postgres:
            image: postgres:18
            env:
              POSTGRES_USER: postgres
              POSTGRES_PASSWORD: postgres
              POSTGRES_DB: test_invoicer_db
            ports:
              - 5432:5432
            options: >-
              --health-cmd "pg_isready -U postgres"
              --health-interval 10s
              --health-timeout 5s
              --health-retries 5
        env:
            TEST_DATABASE_URL: postgresql://postgres:postgres@localhost:5432
            TEST_DB_NAME: test_invoicer_db

        steps:
          - name: Checkout code
            uses: actions/checkout@v4

          - name: Set up Python
            uses: actions/setup-python@v5
            with:
              pyhton-version: "3.12"

          - name: Install dependencies
            run: |
                python -m pip install --upgrade pip psycopg2
                pip install -r requirements.txt

          - name: Run tests
            run: python -m pytest -vs

    deploy:
        name: Deploy to invoicer-api.wayand.dk
        runs-on: ubuntu-latest
        needs: test   # ensures deploy only runs if tests pass
        if: github.ref == 'refs/heads/master' && github.event_name == 'push'

        steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Set up SSH
          run: |
            mkdir -p ~/.ssh
            echo "${{ secrets.HETZNER_SSH_KEY }}" > ~/.ssh/id_ed25519
            chmod 600 ~/.ssh/id_ed25519
            ssh-keyscan -H ${{ secrets.HETZNER_IP_ADDRESS }} >> ~/.ssh/known_hosts

        - name: Copy files via rsync
          run:  |
            rsync -avz --delete \
              --exclude='__pycache__/' \
              --exclude='*.pyc' \
              ./* www-data@${{ secrets.HETZNER_IP_ADDRESS }}:/srv/docker/invoicer/invoicer-api/

        - name: Run deploy script
          run: ssh www-data@${{ secrets.HETZNER_IP_ADDRESS }} "bash /srv/docker/invoicer/deploy.sh"
